<br>
<br>
<br>
<br>
<br>
<br>
<h1 style="text-align:center;">Game Thread</h1>

<div class="chat-container">
  <ul id="chat">
    <%= render @messages %>
  </ul>

  <%= form_for Message.new, remote: true do |f| %>
      <%= f.text_field :content %>
      <%= f.submit "Send" %>
  <% end %>
</div>

<script type="text/javascript">
  $(function() {
     $("#new_message")
        .on('ajax:beforeSend', function() { // set this code to happen just before the ajax request is made
          $("input[type='submit']") // make changes to the submit button
            .val('Saving...') // change the text on the button
            .attr('disabled', 'disabled'); // disable the button
        })
        .on('ajax:complete', function() {
          $("input[type='submit']")
            .val('Create Message')
            .removeAttr('disabled');
        });
  });
</script>