<% @entries.order(:published).reverse_each do |entry| %>
	<div class="well">
		<strong><%= link_to entry.title, entry.url %></strong> - <%= entry.published.localtime.strftime("%m/%d/%Y %I:%M %p") %> 
		<% if entry.url.include?("espn.go.com") %>
			-via ESPN
		<% elsif entry.url.include?("yahoo.com") %>
			-via Yahoo! Sports
		<% elsif entry.url.include?("nba.com") %>
			-via NBA.com (Video)
			<% end %>
		<% if entry.description.nil? %>
		<% else %>
		<br> 
		<%= entry.description %>
		<% end %>
	</div>
	
<% end %>
