<br>
<br>
<br>
<br>
<br>
<br>
<br>
<% provide(:title, 'All users') %>
<h1>All users</h1>

<ul class="users">
  <% @users.each do |user| %>
    <li>
    	<div class="gratavar">
      <%= image_tag user.avatar.url(:thumb) %>
      </div>
      <%= link_to user.name, user %>
    </li>
  <% end %>
  <div class="paginate">
	<%= will_paginate @users, renderer: BootstrapPagination::Rails %>
</div>
</ul>