<h1>Currently Sharing <%= @videos.length %> videos</h1>

<% @videos.each do |video| %>
  <p>Source: <%= video.source %>, Title: <%= video.title %></p>
  <div class="youtube"><iframe width="400" height="400" src="https://www.youtube.com/embed/<%= video.youtube_id %>" frameborder="0" allowfullscreen></iframe>
</div>
<% end %>	